[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy/
[submodule "external/tachyon_lib"]
	path = external/tachyon_lib
	url = https://github.com/Mallchad/tachyon_lib
[submodule "external/opengl"]
	path = external/opengl
	url = https://github.com/KhronosGroup/OpenGL-Registry.git
